<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
 crossorigin="anonymous">
 <div style="text-align: center; margin-left: 15%; margin-top: 6%;">
    <div class="row col-md-10 col-md-offset-3">
     <div class="card card-body">
        <div style="text-align: center;"><img [src]="'assets/img/success.gif'" width="200px" height="200px"></div>
      <br><h1>Registered Successfully !!!</h1>
      <br><h3 style="color: rgb(16, 72, 80)">You will be re-directed to Login page in few seconds</h3>
     </div>
    </div>
   <br><br>
</div>-->


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card text-center shadow-lg" style="width: 30rem; border-radius: 20px; overflow: hidden;">
    <!-- Top Section with Gradient -->
    <div class="bg-gradient-primary py-4" style="background: linear-gradient(135deg, #1d976c, #93f9b9);">
      <i class="fas fa-check-circle fa-4x text-white"></i>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <h2 class="card-title text-success">Registration Successful!</h2>
      <p class="card-text text-muted">Thank you for signing up. You will be redirected to the login page shortly.</p>
      <div class="my-4">
        <img src="assets/img/success.gif" alt="Success Animation" class="img-fluid" style="width: 150px; border-radius: 50%;">
      </div>
      
    </div>
    <!-- Footer -->
    <div class="card-footer text-muted" style="font-size: 0.9rem;">
      Need help? <a href="contact.html" class="text-success font-weight-bold">Contact Support</a>
    </div>
  </div>
</div>

<!-- Font Awesome for Icons -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

