/* Apply custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* General Body Styling */
body {
  font-family: 'Roboto', sans-serif;
}

/* Heading Text */
.heading-text {
  color: rgb(67, 45, 105);
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}

/* Custom Styling for Owl Carousel Cards */
.card-body {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 8px rgb(147, 158, 147);
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 300px;
}

/* Button Custom Styling */
.btn-custom {
  background-color: #5C6BC0;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.btn-custom:hover {
  background-color: #3f51b5;
}

/* Enrolled ID Styling */
.enrolled-id {
  background-color: darkslateblue;
  border-radius: 5px;
  font-weight: bold;
  padding: 3px 8px;
  color: white;
}

/* YouTube Carousel Styling */
.owl-carousel .card {
  margin-bottom: 20px;
}

/* Card Title Styling */
.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #443D5C;
}

/* Instructor and Learners Section */
.card-body div {
  color: rgb(191, 54, 54);
  font-size: large;
  margin-bottom: 1%;
}

.card-body b {
  font-weight: bold;
}

/* Visit Course Button */
.card-body a {
  margin-left: auto;
  margin-right: auto;
  border: none;
}
