.title{
    text-align: center;
    font-family: Arial;
}
/* p{
    text-align: center;
    font-family: Arial;
} */
.containers{
    height:500px;
    width:900px;
    margin-top: 30px;
    font-family: Arial;
    display:flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 15px 20px blue;
}
.form-container{
    height: 515px;
    width: 500px;
    background-color:rgb(240, 240, 253);
}
.details-container{
    height: 500px;
    width:400px;
    background-color: blue;
    color: white;
    padding-top: 15px;
}
.details-container p{
    padding-top: 20px;
}
#phone-logo{
    padding-left: 45px;
    padding-top: 15px;
}
.phone{
    height: 50px;
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.message{
    height: 50px;
    width: 295px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.location{
    height: 80px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.image-container{
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 120px;
}
.form-container div{
    height: 90px;
    width: 190px;
    margin-left: 45px;
}
table{
    margin-top: 40px;
}
.input-box{
    margin-top: 10px;
    height: 20px;
    border:none;
    outline: none;
    border-bottom: 1px solid black;
    background-color:rgb(240, 240, 253) ;
}
.text-box{
    width: 300px;
    height: 100px;
    resize: none;
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px;
}
button{
    height: 40px;
    width: 150px;
    margin-left: 290px;
    margin-top: 120px;
    border-radius: 20px;
    border: none;
    background-color: blue;
    color: white;
}