<h1 class="title">Reach Out to Us</h1>
<!-- <p>We had Love to hear from you -->
<div class="containers">
    <div class="details-container">
        <h2 style="text-align: center;">Connect With Us</h2>
        <div class="phone">
            <img [src]="'assets/image/phone.png'" width="35" height="35" id="phone-logo">
           <p style="text-align: center;">+91 5478 6743 33</p>
        </div>
         <br>
         <div class="message">
            <img [src]="'assets/image/message.png'" width="35" height="35" id="phone-logo">
            <p style="text-align: center;">e-learningportal&#64;gmail.com</p>
        </div>
         <br>
         <div class="location">
            <img [src]="'/assets/image/location.png'" width="35" height="35" id="phone-logo">
            <p style="text-align: center;">132 Dartmouth street Boston,Massachusetts 02156<br>United states</p>
        </div>
         <br>
         <div class="image-container">
            <img [src]="'assets/image/twitter.png'" width="40" height="40">
            <img [src]="'assets/image/insta.png'" width="40" height="40">
            <img [src]="'assets/image/linkedin.png'" width="40" height="40">
         </div>
    </div>
    <div class="form-container">
        <table>
            <tr>
                <td>
                    <div>
                        <label>First Name</label>
                        <input type="text" class="input-box">
                    </div>
                </td>
                <td>
                    <div>
                        <label>Last Name</label>
                        <input type="text" class="input-box">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label>E-mail</label>
                        <input type="email" class="input-box">
                    </div>
                </td>
                <td>
                    <div>
                        <label>Phone Number</label>
                        <input type="tel" class="input-box">
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <label>Write Messsage</label>
            <textarea placeholder="Enter your queries here..." class="text-box"></textarea>
        </div>
        <button>Send Message</button>
    </div>

</div>