<div class="aboutPage-container">
    <div class="container">
        <div class="blue-overlay">
            <div id="nav-container">
                <nav>
                    <a routerLink="/welcomepage" routerLinkActive="active">Home</a>
                    <a routerLink="/contact" routerLinkActive="active">ContactUs</a>
                </nav>
            </div>
            <div class="heading-container">
                
                <h1 style="font-size: 100px;">About Us</h1>
                <p style="font-size: 20px;">Our LearnPro Platform offers High-quality courses designed to help you learn and grow at your own pace<br>We are commited to delivering an engaging and accessible learning experience for everyone</p>
            </div>
        </div>
    </div>
    <div class="features-container">
            <div class="feature">
                <img [src]="'/assets/image/blue-course.png'" width="60" height="60">
                <h2>Interactive<br>Courses</h2>
                <p>Engaging lessons and<br> assignments</p>
            </div>
            <div class="feature">
                <img [src]="'/assets/image/interface-blue.png'" width="60" height="60">
                <h2>User-Friendly<br>Interface</h2>
                <p>Easy navigation for a smooth <br>learning experience</p>
            </div>
            <div class="feature">
                <img [src]="'/assets/image/progress-blue.png'" width="60" height="60">
                <h2>Progress<br>Tracking</h2>
                <p>Monitor our learning journey</p>
            </div>
            <div class="feature">
                <img [src]="'/assets/image/person-blue.png'" width="60" height="60">
                <h2>Skilled<br>Instructors</h2>
                <p>Courses taught by<br> qualified professionals</p>
            </div>
    </div>
    <div class="contact-container">
        <div>
        <h2 style="padding-top: 10px;">Contact</h2>
        <div class="phone">
            <img [src]="'assets/image/phone.png'" width="35" height="35" id="phone-logo">
            <p style="text-align: center;">+91 5478 6743 33</p>
        </div>
         <br>
         <div class="message">
            <img [src]="'assets/image/message.png'" width="35" height="35" id="phone-logo">
            <p style="text-align: center;">e-learningportal&#64;gmail.com</p>
        </div>
         <br>
         <div class="location">
            <img [src]="'assets/image/location.png'" width="35" height="35" id="phone-logo">
            <p style="text-align: center;">132 Dartmouth street Boston,Massachusetts 02156<br>United states</p>
        </div>
        </div>
        <img [src]="'assets/image/student1.jpg'" height="250" width="350" style="margin-left: 60px; margin-top: 25px;">
         <div class="image-container">
            <p>&copy;2024 Copyrights:LearnPro Portal.All Rights Reserved</p>
            <div>
            <img [src]="'assets/image/twitter.png'" width="40" height="40">
            <img [src]="'assets/image/insta.png'" width="40" height="40">
            <img [src]="'assets/image/linkedin.png'" width="40" height="40">
             </div>
         </div>
    </div>
</div>
