.container{
    background-image: url('/assets/image/learning-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;;
    position: relative;
    display: inline-block;
    border-bottom-right-radius: 220px;
    max-width: none;
}
.blue-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background:rgba(41, 41, 224, 0.7);
    border-bottom-right-radius: 220px;
}
#nav-container{
    width: 300px;
    height: 100px;
    color: white;
    font-family: Arial;
    font-size: 25px;
    margin-left: 1000px;
    margin-top: 50px;
}
#nav-container nav{
    display: flex;
    justify-content: space-around;
}
#nav-container nav a{
    color: white;
    text-decoration: none;
}
.heading-container{
    margin-top: 100px;
    margin-left: 80px;
    color: white;
    font-family: Arial;
}
.features-container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    text-align: center;
  
}
.feature{
    height: 280px;
    width: 300px;
    margin: 15px;
    padding-top: 30px;
    border: 1px solid blue;
    box-shadow: 0px 4px 8px blue;
    border-radius: 40px;
    font-family: Arial;
    color: blue;
    background-color: white;
}
.feature p{
    padding-top: 30px;
    font-size: 20px;
}
/*.contact-container{
    height: 200px;
    width: 100%;
    background-color: indigo;
    color: white;
    font-family: Arial;
    margin-top: 70px;
}*/

.contact-container{
    height: 300px;
    width: 100%;
    background-color: #181d38;
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.image-container{
    width: 400px;
    height: 70px;
    margin-top: 100px;
    margin-left: 50px;
}
.phone{
    height: 50px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.message{
    height: 50px;
    width: 256px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.location{
    height: 80px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.image-container div{
    padding-top: 30px;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}