.container {
    padding: 20px;
}

.course-welcome {
    font-weight: bolder;
    color: rgb(117, 3, 148);
    font-size: 35px;
    margin-bottom: 2%;
}

.chapter-list {
    margin-top: 5%;
}

.chapter-title {
    font-weight: bold;
    font-size: 1.2em;
    color: darkred;
    padding-bottom: 10px;
}

.chapter-info {
    color: gray;
    font-weight: 400;
    font-size: small;
}

.chapter-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.chapter-box {
    background-color: white;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.chapter-name {
    font-weight: bold;
    color: darkgreen;
    margin-right: 10px;
}

.subcontents {
    font-weight: 600;
    font-size: small;
    color: gray;
}

.sub-container {
    margin-top: 5%;
}

.sub-btns button {
    margin-right: 10px;
    margin-bottom: 15px;
}

.overview-title {
    font-weight: bolder;
    font-size: 25px;
}

.course-title {
    font-weight: normal;
    font-size: 21px;
}

.course-id {
    background-color: rgb(45, 2, 66);
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding: 5px 20px;
}

.description-text {
    color: darkblue;
    font-size: large;
    margin-bottom: 1%;
}

hr {
    margin-top: 2%;
    margin-bottom: 2%;
}

button.btn-primary {
    background-color: #1e2a8a;
    color: white;
    font-weight: bolder;
    font-size: 16px;
}

button.btn-primary:hover {
    background-color: #3c53e3;
}

.certificate {
    display: inline-block;
    background-color: gold;
    color: black;
    padding: 10px 15px;
    font-size: 18px;
}
