<app-header></app-header>
<div class="container">
    <div>
        <div class="course-welcome">{{ courseName }} Course 👋 </div>
        <youtube-player id="player" [videoId]="video" suggestedQuality="highres" [height]="380" [width]="640"></youtube-player>
        <div class="chapter-list" *ngFor="let chapter of chapterlist | async">
            <div class="chapter-title"><i class="fa fa-list"></i> Course Contents</div>
            <div class="chapter-info" *ngIf="chapter.chapter1name === ''">Currently No Chapters available for this Course. Please wait, the Instructor will be adding the chapters soon here.</div>

            <div *ngFor="let chapterItem of chapterList">
                <div *ngIf="chapterItem.name" (click)="openChapter(chapterItem.id)" class="chapter-item">
                    <div class="chapter-box"><i class="fa fa-check"></i></div>
                    <div class="chapter-name">{{ chapterItem.name }}</div>
                    <div class="subcontents">subcontents (1/1)</div>
                </div>
                <hr *ngIf="chapterItem.name">
            </div>
        </div>
    </div>

    <div class="sub-container">
        <div class="sub-btns">
            <button id="overview-btn" (click)="openOverview()" class="btn btn-primary">Overview</button>
            <button id="qa-btn" (click)="openQandA()" class="btn btn-primary">Q&A</button>
            <button id="downloads-btn" (click)="openDownloads()" class="btn btn-primary">Downloads</button>
            <button id="notes-btn" (click)="openNotes()" class="btn btn-primary">Notes</button>
            <button id="announcements-btn" (click)="openAnnouncements()" class="btn btn-primary">Announcements</button>
        </div>
        
        <!-- Overview Section -->
        <div id="overview" class="descriptions" *ngFor="let course of courselist | async">
            <strong class="overview-title">About this Course</strong>
            <h3 class="course-title">{{course.coursename}}</h3>
            <h6 class="course-id">{{course.courseid}}</h6>
            <hr>
            <p class="description-text">{{course.description}}</p>
            <hr>
            <div><b>Level: </b>{{course.skilllevel}}</div>
            <div><b>Language: </b>{{course.language}}</div>
            <div><b>Course Type: </b>{{course.coursetype}}</div>
            <div><b>Instructor: </b>{{course.instructorname}} - {{course.instructorinstitution}}</div>
            <div><b>Enrolled Date: </b>{{course.enrolleddate}}</div>
            <div><b>Learners: </b>{{course.enrolledcount}} learners enrolled previously</div>
            <hr>
            <strong>Features:</strong>
            <div>Available on <span>Android</span> and <span>iOS</span></div>
            <hr>
            <strong>Certificate:</strong>
            <div>Get the certificate by completing entire course</div>
            <div class="certificate">Certificate</div>
        </div>
    </div>
</div>
<br><br>
<app-footer></app-footer>
