<app-header></app-header>

<div class="container">
  <h2 class="textual"><i class="fa fa-book"></i> New Chapters</h2>
  <small class="text-description">On adding new chapters, your course will appear more meaningful to learn</small>
  <form #addChapterform="ngForm" (ngSubmit)="addChapters()">
      
      <mat-form-field class="full-width">
          <mat-label>Course Name</mat-label>
          <mat-select name="coursename" [(ngModel)]="chapter.coursename" required>
            <mat-option value="default" disabled>Select Course</mat-option>
            <mat-option *ngFor="let course of coursenames | async" [value]="course.name">{{ course.name }}</mat-option>
          </mat-select>
          <mat-hint>Please choose course name from the dropdown</mat-hint>
      </mat-form-field>

      <div *ngFor="let chapterNumber of [1, 2, 3, 4, 5, 6, 7, 8]; let i = index" class="chapter-section">
        <div class="chapter-form-group">
          <mat-form-field class="full-width">
            <mat-label>Chapter-{{ i + 1 }} Name</mat-label>
            <input matInput placeholder="Enter chapter-{{ i + 1 }} name" [(ngModel)]="chapter['chapter' + (i + 1) + 'name']" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Chapter-{{ i + 1 }} URL</mat-label>
            <input matInput placeholder="Enter chapter-{{ i + 1 }} URL as ID" [(ngModel)]="chapter['chapter' + (i + 1) + 'id']" required>
            <mat-hint>Please provide the chapter-{{ i + 1 }} video ID as the URL</mat-hint>
          </mat-form-field>

          <div class="button-group">
            <button mat-raised-button color="primary" *ngIf="i < 7" (click)="showNextChapter(i)">Add</button>
            <button mat-raised-button color="warn" *ngIf="i > 0" (click)="removeChapter(i)">Remove</button>
          </div>
        </div>
      </div>

      <mat-checkbox required>Whether these chapters have valid content related to the course</mat-checkbox>

      <button mat-raised-button color="accent" type="submit" [disabled]="addChapterform.form.invalid">Add Chapter</button>
  </form>
</div>

<app-footer></app-footer>
